<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>



<!----<p th:unless="${changetransportation} and ${changetransportations.size()}">no cheese :(</p>---->

<table class="table">

    <tr>
        <th>From</th>
        <th>To</th>
        <th>Dates</th>
        <th>Notes</th>

    </tr>

    <tr th:each="early : ${earlys}">
        <td th:text="${early.timeofpickup}"></td>
        <td th:text="${early.dateofpickup}"></td>
        <td th:text="${early.notes}"></td>
    </tr>

</table>

</body>
</html>