<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">


<body>
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<form method= "post" th:object="${changetransportation}">
    <label th:for= "transportation" >Transportation</label>
    <select th:field="*{transportation}">
        <option value="space">           </option>
        <option value="Car Rider">   Car Rider</option>
        <option value="Walker">      Walker</option>
        <option value="Bus Rider">   Bus Rider</option>
        <span th:errors="*{transportation}" class="error"></span>
    </select>
    <br/>
    <br/>
    <label th:for= "transportationchange" >Transportation Change</label>
    <select th:field="*{transportationchange}">
        <option value="space">         </option>
        <option value="Car Rider">   Car Rider</option>
        <option value="Walker">      Walker</option>
        <option value="Bus Rider">   Bus Rider</option>
        <span th:errors="*{transportationchange}" class="error"></span>
    </select>

    <br/>
    <br/>

    <label th:for="datec">Date</label>
    <input type="text" placeholder="Enter date in format mm:dd:yyyy" th:field="*{datec}">
    <span th:errors="*{datec}" class="error"></span>

    <label th:for="notes1">Leave a Note</label>
    <input type="text" placeholder="Write a note" th:field="*{notes1}">
    <span th:errors="*{notes1}" class="error"></span>
    <br/>
    <input type="submit" value="Submit change"/>
    </form>
</form>

</body>
</html>

