<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title h1 th:text="${title}">Title</title>

</head>

<body>
<h1 th:text="${title}"></h1>
<h3> Child's Name:</h3>       <h3>Grade:</h3>
<h3>Teacher:</h3>
<form action="/switch/transportationconfirmation" method="Post">
    <label> Original Transportation</label>
    <select>
        <option value="Car Rider">   Car Rider</option>
        <option value="Walker">      Walker</option>
        <option value="Bus Rider">   Bus Rider</option>
    </select>
    <br/>
    <br/>
    <label> Transportation Change</label>
        <select>
            <option value="Car Rider">   Car Rider</option>
            <option value="Walker">      Walker</option>
            <option value="Bus Rider">   Bus Rider</option>
        </select>
    <br/>
    <br/>
    <label> Your Name </label>
    <input type="text" name="trans" />
    <br/>
    <input type="submit" value="Submit change"/>
    </form>
</form>

</body>
</html>

//flash message or confirmation page//