<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<nav th:replace="fragments :: navigation"></nav>

<body>
<div class="container">
    <div><h3 th:unless="${early}">No early pickup history.</h3>

    <br/>
    <br/>
    <br/>
        <h2>Record of early releases</h2>
        <table class="table">
            <tr>
                <th>Time</th>
                <th>Date</th>
                <th>Note</th>
            </tr>

            <tr th:each="earlypickup : ${early}" th:text="${early}">
                <!--<td th:text="${earlypickup.timeofpickup}"></td>
                <td th:text="${earlypickup.dateofpickup}"></td>
                <td th:text="${earlypickup.notes}"></td>-->
            </tr>

        </table>
    </div>
</div>
</body>
</html>