<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">


<head th:replace="fragments :: head"></head>

<body>
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<medium> Type the time in hours and minutes that you would like to pick up your child.</medium>
<br/>
<br/>
<br/>
<form method = "post" th:object="${early}">
    <label th:for= "timeofpickup" >Time</label>
    <input type="text" placeholder="Enter Time in format hh:mm:ss" th:field="*{timeofpickup}">
    <span th:errors="*{timeofpickup}" class="error"></span>

    <label th:for="dateofpickup">Date</label>
    <input type="text" placeholder="Enter date in format mm:dd:yyyy" th:field="*{dateofpickup}">
    <span th:errors="*{dateofpickup}" class="error"></span>

    <label th:for="notes">Leave a Note</label>
    <input type="text" placeholder="Write a note" th:field="*{notes}">
    <span th:errors="*{notes}" class="error"></span>

    <button type="submit">Submit</button>
</form>

</body>
</html>
