<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org/">
<div th:insert="~{base :: copy}"></div>

<head>
    <meta charset="UTF-8"/>
    <title>Early Release</title>
</head>
<body>
<h1> Early Pick up </h1>
<h3> Child's Name:</h3>       <h3>Grade:</h3>
<h3>Teacher:</h3>
    <medium> Type the time in hours and minutes that you would like to pick up your child.</medium>
<br/>
<br/>
<br/>
    <input type="Time" id="pickup" name="appt"
       min="08:30" max="16:00" required/>
    <small>Pick up hours are from 8:30 am - 4 pm</small>
    <form action="/early/earlyconfirmation" method="post">
    <button type="submit" value = "submit" name="early">Submit Time</button>
    </form>
<h4> Please double check the time.  Your child's teacher will be notified and your child will be in the front office ready for pick at the time you have selected. </h4>


</body>
</html>