<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

</head>
<body>
<form action="/home/transportation" method="post">
    <button type="submit" value = "submit" name="change">Change Transportation</button>
</form>
<form action="/home/early" method="post">
    <button type="submit" value = "submit" name="early">Early Pickup </button>
</form>
<form action="/home/log" method="post">
    <button type="submit" value = "submit" name="log">Log</button>
</form>
<form action="/home" method="post">
    <button type="submit" value = "submit" name="home">Home </button>
</form>

</body>
</html>
//Make buttons go across screen