<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:fragment="copy">

</head>
        <title>The Dismissal App</title>
<h1> The Dismissal App</h1>
<body>

<form action="/switch/transportation" method="post">
    <button type="submit" value = "submit" name="change">Change Transportation</button>
</form>
<form action="/early/release" method="post">
    <button type="submit" value = "submit" name="early">Early Pickup </button>
</form>
<form action="/home/log" method="post">
    <button type="submit" value = "submit" name="log">Log</button>
</form>
<form action="/home" method="post">
    <button type="submit" value = "submit" name="home">Home </button>
</form>

</body>
</html>
/*Make buttons go across screen