<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="copy"/>
        <meta charset="UTF-8"/>
        <title th:text="${title}">The Dismissal App</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"/>
</head>

<body>
<nav th:fragment="navigation"></nav>
    <a href="/switch/transportation">Change Transportation</a>
    <a href="/early/release">Early Pickup</a>
    <a href="/home/log">Log</a>
    <a href="/home">Home</a>
</nav>

</body>
</html>
/*Make buttons go across screen