<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>th:text="${title}">Title</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <br/>
    <h2> Pershing Elementary</h2>
    <br/>
    <form>
        <p>Username:</p>
        <input type="text" name ="username"/>
        <input type="button" value="Don't have an account? Click me" style="float: right;"/>
        <br/>
        <p>Password</p>
        <input type="text" password="password"/>
        <br/>
        <input type="submit" value="Submit"/>
        <br/>
        <br/>
        <input type="submit" value="Forgot Password/Username"/>

    </form>



</body>
</html>