<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
<h1 th:text="${title}">Add Child</h1>
<nav th:replace="fragments :: navigation"></nav>
<br/>
<br/>
<br/>
<form method="post" th:object="${student}">
<label th:for ="studentname">Student Name</label>
<br/>

    <input class="form-control"  placeholder="Enter your child's first and last name."  th:field ="*{studentname}" required>
    <span th:errors="*{studentname}" class="error"></span>

<br/>
<br/>

<label th:for= "teachername" >Select your child's teacher</label>
<select th:field="*{teachername}" required>
    <option value="space">Select Teacher</option>
    <option value="BW">   Britaney Winston</option>
    <option value="CH">   Cristine Hankins</option>
    <option value="ED">   Ed Daughton</option>
    <option value="CB">   Chris Brown</option>
    <option value="SD">   Shane Danny</option>
    <option value="JC">   Jessica Clark</option>
    <option value="DT">   Dianna Turnner</option>
    <option value="RG">   Rhonda Grane</option>
    <span th:errors="*{teachername}" class="error"></span>
</select>

<br/>
<br/>

    <label th:for= "gradelevel" >Choose Grade Level</label>
    <select th:field="*{gradelevel}" required>
        <option value="spac">             </option>
        <option value="K">   Kindergarten</option>
        <option value="1">   1st Grade</option>
        <option value="2">   2nd Grade</option>
        <option value="3">   3rd Grade</option>
        <option value="4">   4th Grade</option>
        <option value="5">   5th Grade</option>
        <span th:errors="*{gradelevel}" class="error"></span>
    </select>
    <button type="submit" class="btn btn-success">Add Student</button>
</form>


</body>
</html>
