<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

</br>
</br>
</br>
</br>
</br>
</br>

<p th:unless="${student} and ${student.size()}">No students </p>

<table class="table">

    <tr>
        <th>Student Name</th>
        <th>            </th>
        <th>Teacher Name</th>
        <th>Grade Level</th>

    </tr>

    <tr th:each="student : ${student}">
        <td><a th:href="'page'" th:text="${student.studentname}"></a><td>
        <td th:text="${student.teachername}"></td>
        <td th:text="${student.gradelevel}"></td>
    </tr>

</table>

<a href="addstudent">Add a student </a>
</br>
</br>
<a href="delete">Remove a student </a>


</body>
</html>