<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

</br>
</br>
</br>
</br>
</br>
</br>

<h1 th:text="${title}">Default Title</h1>

<p th:unless="${student} and ${student.size()}">No students </p>

<table class="table">

    <tr>
        <th>Student Name</th>
        <th>Teacher Name</th>
        <th>Grade Level</th>

    </tr>

    <tr th:each="student : ${student}">
        <td th:text="${student.studentname}"></td>
        <td th:text="${student.teachername}"></td>
        <td th:text="${student.gradelevel}"></td>
    </tr>

</table>

<a href="/home/addstudent">Add a student </a>


</body>
</html>