<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body class="container">

<br/>
<br/>
<br/>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<br/>
<br/>
<a href="/early/index" type="button" class="btn btn-primary btn-lg btn-block">View Early Release History</a>

<br/>
<br/>
<br/>

<a href="/switch/indext" type="button" class="btn btn-primary btn-lg btn-block">View Transportation History</a>
<br/>
<br/>
<br/>
<a href="/home/allStudents" type="button" class="btn btn-primary btn-lg btn-block">Display All Students</a>


<!--<a href="newaccount">No account? Sign up here!</a>
<br/>
<br/>
<a href="login">Already have an account? Log in here!</a>--->

</body>
</html>