<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${Log} and ${Log.size()}">No History to display</p>
<table class="table">
    <tr>
        <th> Dismissal Method</th>
        <th> Date</th>
        <th>Note</th>
    </tr>
    <!----<tr th:each= "log : ${logs}">
        <td th:text="$log.key}"></td>
        <td th:text="${log.value}"></td>
    </tr> ---->
</table>

    <li th:each="log : ${Log}" th:text="${log}"></li>
</ul>
</body>
</html>