<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<form action="/early/earlyconfirmation" method="Get"/>
<button type="submit">View Change of Transportation Log</button>
</form>

<br/>
<br/>
<br/>

<form action="/switch/confirmation" method="Get"/>
<button type="submit">View Early Release Log</button>
</form>

</body>
</html>