<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title h1 th:text="${title}">Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>


</head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>

<h2>Your School: Pershing Elementary</h2>
<ul>
    <li th:each="err : ${#fields.errors('user')}" th:text="${err}" />
</ul>

<form th:object="${user}" method="post">
    <div class="form-group" >
        <label for="username1">Username</label>
        <input type="text" class="form-control" id="username1" aria-describedby="usernameHelp" required th:field="*{username}"/>
        <small id="usernameHelp" class="form-text text-muted">Username will only be used for this site.</small>
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" required th:field="*{password}"/>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<br/>
<br/>

</form>

<a href="/newaccount">No account? Sign up here!</a>

</body>
</html>
