<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">


<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${user}">
    <label th:for= "username" >Username</label>
    <input type="text" placeholder="Enter Username" th:field="*{username}">
    <span th:errors="*{username}" class="error"></span>

    <label th:for="password">Password</label>
    <input type="password" placeholder="Enter Password" th:field="*{password}" >
    <span th:errors="*{password}" class="error"></span>

    <button type="submit">Create Account</button>
</form>
</body>
</html>